.login-div-register {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background: #4AC959;
    opacity: 0.8;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    
}

.container-form {
    background-color: #FFFFFF;
    width: 44rem;
    padding: 2.5rem .5rem;
}
.image-left {
    width: 18rem;
   height: 18rem;
    margin-bottom: 5rem;
}

.close-btn {
    all: unset;
    cursor: pointer;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    margin-left: 35rem;
    margin-top: 1rem;

}

.sign-in {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 3rem;
}

.access {
    color: #4AC959;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    margin-bottom: 1.5rem;
}

.right {
    width: 30rem;
}

.login-form {
   width: 40rem;
}

.input-form {
    width: 19rem;
    padding: .5rem .5rem;
    background: #FFFFFF;
    border: 1px solid #959595;
    border-radius: .5rem;
}

.label-form {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    color: #000000;
    margin-bottom: .5rem;
}

.sign-in-btn {
    cursor: pointer;
    margin-top: 30px;
    border: none;
    width: 19rem;
    padding: 10px 5px;
    border-radius: .25rem;
    font-family: 'Montserrat';
    color: #ffffff;
    background: #4AC959;
}

.register-link, .redirect-register {
    color: #4AC959;
    margin-top: 10px;
    font-family: 'Montserrat';
}

@media (max-width:1119px) {
.container-form {
    width: 400px;
    height: 500px;
}

.input-form, .sign-in-btn {
    width: 150px;
}

.close-btn {
    margin-left: 300px;
}

}
